{% load static %}
<style>
  * { box-sizing: border-box; }
  html, body { margin: 0; padding: 0; }
  .page { margin: 0 auto; text-align: center; width: 40em; }
  h1 { font-size: normal; padding: 0; margin: 1em; }
  form { width: 30em; margin: 0 auto; text-align: left; }
  ul { margin: 0; padding: 0; list-style: none; }
  li { list-style: none; padding: 1em; background-color: #999; margin: 0; }
  li.error { background-color: #c99; }
  li.success { background-color: #9c9; }
</style>
<link href="{% static "mui.min.css" %}" rel="stylesheet" type="text/css" />
<script src="{% static "mui.min.js" %}"></script>
<div class="page">
  <h1>Nakamoto Exchange</h1>
  {% block content %}{% endblock %}
</div>
