{% extends "base.html" %}
{% block content %}
  <div class="page-center">
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="mui-textfield mui-textfield--float-label">
        <input type="text" name="email"/>
        <label>Email address *</label>
      </div>
      <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Sign Up</button>
    </form>
  </div>
{% endblock %}
